<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/base.css">

  <title>Spirit Island Game Data</title>
</head>

<body>

  <%- include('../partials/nav.ejs') %>

  <h1>All Game Data</h1>

  <table>
    <h2> There are currently <%= allGames.length %> games recorded </h2>
    <thead>
      <th><input type="button" id="game_id" value="game ID"/></th>
      <th><input type="button" id="date" value="Date"/></th>
      <th><input type="button" id="owner" value="Owner"/></th>
      <th><input type="button" id="victory" value="Victory"/></th>
      <th><input type="button" id="victory_condition" value="Victory Condition"/></th>
      <th><input type="button" id="loss_condition" value="Loss Condition"/></th>
      <th><input type="button" id="phase" value="Phase"/></th>
      <th><input type="button" id="country" value="Country"/></th>
      <th><input type="button" id="country_level" value="Country Level"/></th>
      <th><input type="button" id="terrain_card_count" value="Terrain Card Count"/></th>
      <th><input type="button" id="terror_level" value="Terror Level"/></th>
      <th><input type="button" id="invader_hp_remaining" value="Invader HP Remaining"/></th>
      <th><input type="button" id="difficulty_feel" value="Difficulty Feel"/></th>
      <th><input type="button" id="blight_card" value="Blight Card"/></th>
      <th><input type="button" id="scenario" value="Scenario"/></th>
      <th><input type="button" id="branch_claw" value="Branch & Claw"/></th>
      <th><input type="button" id="jagged_earth" value="Jagged Earth"/></th>
      <th><input type="button" id="events" value="Events"/></th>
      <th><input type="button" id="notes" value="Notes"/></th>
    </thead>

    <tbody>
      <% for (let i = 0; i < allGames.length; i++) { %>
        <tr>
          <td><%= allGames[i].game_id %></td>
          <td><%= allGames[i].date %></td>
          <td><%= allGames[i].owner %></td>
          <td><%= allGames[i].victory %></td>
          <td><%= allGames[i].victory_condition %></td>
          <td><%= allGames[i].loss_condition %></td>
          <td><%= allGames[i].phase %></td>
          <td><%= allGames[i].country %></td>
          <td><%= allGames[i].country_level %></td>
          <td><%= allGames[i].terrain_card_count %></td>
          <td><%= allGames[i].terror_level %></td>
          <td><%= allGames[i].invader_hp_remaining %></td>
          <td><%= allGames[i].difficulty_feel %></td>
          <td><%= allGames[i].blight_card %></td>
          <td><%= allGames[i].scenario %></td>
          <td><%= allGames[i].branch_claw %></td>
          <td><%= allGames[i].jagged_earth %></td>
          <td><%= allGames[i].events %></td>
          <td><%= allGames[i].notes %></td>
        </tr>
      <% } %>

    </tbody>

  </table>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
  <script src="/app.js"></script>
</body>

</html>