<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/base.css">

  <title>Add New Game Score</title>
</head>

<body>

  <%- include('../partials/nav.ejs') %>

  <h1>Add New Score</h1>

  <section>
    <h2>Game and Player Info</h2>
    <form id="saveNewGame" action="/games/new" method="POST">
      <fieldset>
        <section id="basicGameInfo">
          <legend><h3>Basic Game Info</h3></legend>

          <label for="date">Date</label>
          <input type="date" name="date" value="">

          <label for="owner">Owner</label>
          <input type="text" name="owner" value="">

          <section>
            <p>Win or Lose?</p>
            <ul>
              <li>
                <label for="victory">Win!</label>
                <input type="radio" name="victory" value="true">
              </li>

              <li>
                <label for="victory">Lose :-( </label>
                <input type="radio" name="victory" value="false">
              </li>
            </ul>
          </section>

          <label for="victory_condition">Victory Condition</label>
          <input type="text" name="victory_condition" value="">

          <label for="loss_condition">Loss Condition</label>
          <input type="text" name="loss_condition" value="">

          <label for="terror_level">Terror Level</label>
          <input type="number" name="terror_level" min="1" max="3">

          <label for="country">Country</label>
          <input type="text" name="country" value="">

          <label for="country_level">Country Level</label>
          <input type="number" name="country_level" min="0" max="6">

          <label for="scenario">Scenario</label>
          <input type="text" name="scenario" value="">
        </section>

        <section id="detailedGameInfo">
          <legend><h3>Detailed Game Info</h3></legend>

          <label for="phase">Final Phase</label>
          <input type="text" name="phase" value="">

          <label for="terrain_card_count">Terrain Cards Face Up</label>
          <input type="number" name="terrain_card_count" min="1" max="12">

          <label for="invader_hp_remaining">Invader HP Remaining</label>
          <input type="number" name="invader_hp_remaining" value="">

          <label for="blight_card">Blight Card</label>
          <input type="text" name="blight_card" value="">
        </section>

        <section id="expansionsAndNotes">
          <legend><h3>Expansions & Notes</h3></legend>
          <label for="branch_claw">Did you play with Branch & Claw?
            <input type="radio" name="branch_claw" value="true">Yes
            <input type="radio" name="branch_claw" value="false">No
          </label>

          <label for="jagged_earth">Did you play with Jagged Earth?
            <input type="radio" name="jagged_earth" value="true">Yes
            <input type="radio" name="jagged_earth" value="false">No
          </label>

          <label for="events">Did you play with Events?
            <input type="radio" name="events" value="true">Yes
            <input type="radio" name="events" value="false">No
          </label>

          <label for="difficulty_feel">How Difficult Did It Feel?</label>
          <input type="number" name="difficulty_feel" min="1" max="5">

          <label for="notes">Notes</label>
          <input type="text" name="notes">

        </section>
<!-- TODO: Put this in a loop, with a variable for the partial to show Player 1, Player, 2, Player 3, etc... -->
        <%- include('../partials/playerInfo.ejs') %>

        <%- include('../partials/playerInfo.ejs') %>

        <%- include('../partials/playerInfo.ejs') %>

        <%- include('../partials/playerInfo.ejs') %>

        <button type="submit">Save Game Info</button>
      </fieldset>

    </form>
  </section>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
  <script src="/app.js"></script>
</body>

</html>